* {
  margin: 0;
  text-decoration: none;
}

@font-face{
    font-family: "stable";
    src: url('../assets/font/stable/Stable.ttf');
}

@font-face{
  font-family: "Cabin-regular";
  src: url('../assets/font/cabin/Cabin-Regular.ttf');
}


body{
    font-family: "stable";
    overflow-x: hidden;
}

p,button,footer{
  font-family: "Cabin-regular";
  font-size: 1.2rem;
}

.main-wrapper {
  height: 100vh;
  width: 100%;
  background-color: red;
  position: relative;
  background-image: url('../assets/img/home-sfondo-3.jpg');
  background-size: cover;
  background-position: center;
}

.main-wrapper::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(175 173 167 / 50%);
  z-index: 0;
}

.social-wrapper{
    position: absolute;
    right: 0;
    /* bottom: 0; */
    padding: 30px;
    display: flex;
}

.social-wrapper img{
    height: 35px;
    padding: 10px;
}

.main-wrapper-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.main-wrapper-content img{
    /* max-width: 100%; */
    animation: opacity 3.5s;

}

/* .main-wrapper-content h1{
    padding: 10px 0 10px 50px;
} */

#title{
  font-size: 3rem;
  position: relative;
  animation: moveToRight 2s;
}

#subTitle{
  position: relative;
  padding: 10px 0 10px 100px;
  animation: moveToLeft 2s;
}

@keyframes moveToRight{
  from{left:-100%;}
  to{left:0%;}
}

@keyframes moveToLeft{
  from{right:-100%;}
  to{right:0%;}
}

@keyframes opacity {
  from{opacity: 0;}
  to{opacity: 1;}
}

#assetto-corsa_logo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  opacity: 0.8;
}
/** Scroll down **/

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

.scroll-btn-wrapper{
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
 .scroll-btn {
  display: flex;
  flex-direction: column;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}


.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#section-two{
  margin: 40px 0;
}

#section-two > .container > p:first-child{
  margin-top: 50px;
  text-align: center;
}

#discover-ayrton{
  display: flex;
  justify-content: center;
  align-items: center;
}

#discover-ayrton img{
  width: 50%;
}

.hover-scale:hover{
  transform: scale(1.1) ;
}

.btn-primary{
  background-color: #CDA538;
  color: white;
  border: none;
  border-radius: 20px;
  height: 71px;
  min-width: 200px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 0;
  cursor: pointer;
}

.text-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center{
  text-align: center;
}

.swiper-container {
  width: 100%;
  height: 500px;
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active{
  background: #CDA538;
}

.swiper-button-next, .swiper-button-prev {
    color: #CDA538;
}

footer{
  height: 40px;
  background-color: black;
  color: #CDA538;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size : 1rem;
}

  
 